@main_color:#0154A8;
@font_color:#333333;
@focus_color:#ED2121;
@subtitle_color:#999999;
@body_color:#F3F5F9;
@placeholder_color:#C8C8C8;
@input_border_color:#E8EEF4;
@blue:@main_color;
@p:0.5px;
.onelineText{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.twolineText{
  word-break: break-all;
  text-overflow: ellipsis;
 display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
  -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
  -webkit-line-clamp: 2; /** 显示的行数 **/
  overflow: hidden;  /** 隐藏超出的内容 **/
}
.flexbox{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.backgroundSize(@r){
  -webkit-background-size:@r;
  -moz-background-size:@r;
  -ms-background-size:@r;
  background-size:@r;
}
.nouserselect{
  -webkit-touch-callout:none;  /*系统默认菜单被禁用*/    
  -webkit-user-select:none; /*webkit浏览器*/    
  -khtml-user-select:none; /*早期浏览器*/    
  -moz-user-select:none;/*火狐*/    
  -ms-user-select:none; /*IE10*/    
  user-select:none;  
}
.transform(@t){
  -webkit-transform: @t;
  -ms-transform: @t;
  transform: @t;

}
//选择按钮
@btn_box_border:#E6E6E6;
@cancle_color:#666;

//项目卡片
@running:#64C318;
@suspend:#EEA603;

@Mcolor: #329d9e;
@Acolor: #5da5ca;
@Pcolor: #2193b3;