@main_color:#0154A8;
@font_color:#333333;
@focus_color:#ED2121;
@subtitle_color:#999999;
@body_color:#F8F8F8;
@placeholder_color:#C8C8C8;
@input_border_color:#E8EEF4;
@p:0.5px;
.onelineText{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.flexbox{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

//选择按钮
@btn_box_border:#E6E6E6;
@cancle_color:#666;